.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container__imagem {
    padding: 1em;
}
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(./Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}


.lista-menu_item {
    padding: lem;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}



.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu_link{
    background: var(--azul-degrade);
    webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}