.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}
.container__imagem {
    padding: 1em;
}
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 10vw;
    background-color: white;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    padding: 1em;
}

.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

li a {
    text-decoration:none;
    color:black;
    margin-bottom: 2em;
}